@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
/* Font Weight */
/* Color */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

#todo {
  height: 100vh;
  background: #fafafa url("./images/bg-desktop-light.jpg") no-repeat;
  background-size: 100% 35%;
}

#todo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 40%;
  max-width: 100%;
  padding-top: 4rem;
}

#todo .container .logo-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#todo .container .logo-theme #logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 10px;
  color: #FFF;
  cursor: pointer;
}

#todo .container .logo-theme #themeToggle {
  background: url("./images/icon-moon.svg") no-repeat;
  width: 26px;
  cursor: pointer;
}

#todo .container #createNewTodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
}

#todo .container #createNewTodo .borderGradiant {
  margin-right: 1rem;
  padding: 1px;
  position: relative;
  background: #cacde8;
  border-radius: 50%;
}

#todo .container #createNewTodo .borderGradiant #checkBTN {
  -webkit-appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #FFF;
  border-radius: 50%;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

#todo .container #createNewTodo .borderGradiant #checkBTN:checked {
  background: linear-gradient(130deg, #57ddff, #c058f3);
  position: relative;
}

#todo .container #createNewTodo .borderGradiant #checkBTN:checked::after {
  position: absolute;
  content: "";
  top: 26%;
  left: 22%;
  width: 11px;
  height: 9px;
  background: url("./images/icon-check.svg") no-repeat;
}

#todo .container #createNewTodo .borderGradiant:hover {
  padding: 1px;
  position: relative;
  background: linear-gradient(130deg, #57ddff, #c058f3);
  border-radius: 50%;
}

#todo .container #createNewTodo .borderGradiant:hover #checkBTN {
  border: none;
}

#todo .container #createNewTodo #todoText {
  border: none;
  outline: none;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  width: 92%;
}

#todo .container #createNewTodo #todoText::-webkit-input-placeholder {
  color: #777a92;
}

#todo .container #createNewTodo #todoText:-ms-input-placeholder {
  color: #777a92;
}

#todo .container #createNewTodo #todoText::-ms-input-placeholder {
  color: #777a92;
}

#todo .container #createNewTodo #todoText::placeholder {
  color: #777a92;
}

#todo .container #todoCollection {
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 1.2rem;
  -webkit-box-shadow: 0px 7px 25px -5px rgba(72, 75, 106, 0.4);
          box-shadow: 0px 7px 25px -5px rgba(72, 75, 106, 0.4);
}

#todo .container #todoCollection .todoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e4e5f1;
}

#todo .container #todoCollection .todoItem .borderGradiant {
  margin-right: 1rem;
  padding: 1px;
  position: relative;
  background: #cacde8;
  border-radius: 50%;
}

#todo .container #todoCollection .todoItem .borderGradiant #checkBTN {
  -webkit-appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #FFF;
  border-radius: 50%;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

#todo .container #todoCollection .todoItem .borderGradiant #checkBTN:checked {
  background: linear-gradient(130deg, #57ddff, #c058f3);
  position: relative;
}

#todo .container #todoCollection .todoItem .borderGradiant #checkBTN:checked::after {
  position: absolute;
  content: "";
  top: 26%;
  left: 22%;
  width: 11px;
  height: 9px;
  background: url("./images/icon-check.svg") no-repeat;
}

#todo .container #todoCollection .todoItem .borderGradiant:hover {
  background: linear-gradient(130deg, #57ddff, #c058f3);
}

#todo .container #todoCollection .todoItem .borderGradiant:hover #checkBTN {
  border: none;
}

#todo .container #todoCollection .todoItem .todoItemText {
  width: 92%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #484b6a;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#todo .container #todoCollection .todoItem .completed {
  color: #cacde8;
  text-decoration: line-through;
}

#todo .container #todoCollection .todoItem img {
  margin-left: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

#todo .container #todoCollection .todoItem:hover .borderGradiant {
  background: linear-gradient(130deg, #57ddff, #c058f3);
}

#todo .container #todoCollection .todoItem:hover .borderGradiant #checkBTN {
  border: none;
}

#todo .container #todoCollection .todoFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
}

#todo .container #todoCollection .todoFilter p {
  font-size: 14px;
  color: #777a92;
}

#todo .container #todoCollection .todoFilter .clearCompleted {
  cursor: pointer;
}

#todo .container #todoCollection .todoFilter .filterTodos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#todo .container #todoCollection .todoFilter .filterTodos p {
  padding: 0 8px;
  cursor: pointer;
  font-weight: 700;
}

#todo .container #todoCollection .todoFilter .filterTodos p:hover {
  color: #484b6a;
}

#todo .container #todoCollection .todoFilter .filterTodos .active {
  color: #3a7bfd;
}

#todo .container #todoCollection .todoFilter .filterTodos .active:hover {
  color: #3a7bfd;
}

@media screen and (max-width: 768px) {
  #todo .container #todoCollection .todoFilter .filterTodos {
    display: none;
  }
}

#todo .container .filterTodosMobile {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFF;
  border-radius: 5px;
  margin-top: 1.2rem;
  padding: 1rem 1.5rem;
}

#todo .container .filterTodosMobile p {
  padding: 0 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: #777a92;
}

#todo .container .filterTodosMobile p:hover {
  color: #484b6a;
}

#todo .container .filterTodosMobile .active {
  color: #3a7bfd;
}

#todo .container .filterTodosMobile .active:hover {
  color: #3a7bfd;
}

@media screen and (max-width: 768px) {
  #todo .container .filterTodosMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 7px 25px -5px rgba(72, 75, 106, 0.4);
            box-shadow: 0px 7px 25px -5px rgba(72, 75, 106, 0.4);
  }
}

#todo .container #reorderList {
  text-align: center;
  margin-top: 3rem;
  color: #777a92;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  #todo .container {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  #todo {
    background: #fafafa url("./images/bg-mobile-light.jpg") no-repeat;
  }
}

#todo.dark {
  background: #161722 url("./images/bg-desktop-dark.jpg") no-repeat;
  background-size: 100% 35%;
}

#todo.dark .container .logo-theme #themeToggle {
  background: url("./images/icon-sun.svg") no-repeat;
}

#todo.dark .container #createNewTodo {
  background-color: #25273c;
}

#todo.dark .container #createNewTodo .borderGradiant {
  background: #484b6a;
}

#todo.dark .container #createNewTodo .borderGradiant #checkBTN {
  background-color: #25273c;
}

#todo.dark .container #createNewTodo .borderGradiant #checkBTN:checked {
  background: linear-gradient(130deg, #57ddff, #c058f3);
}

#todo.dark .container #createNewTodo .borderGradiant #checkBTN:checked::after {
  background: url("./images/icon-check.svg") no-repeat;
}

#todo.dark .container #createNewTodo .borderGradiant:hover {
  padding: 1px;
  position: relative;
  background: linear-gradient(130deg, #57ddff, #c058f3);
  border-radius: 50%;
}

#todo.dark .container #createNewTodo .borderGradiant:hover #checkBTN {
  border: none;
}

#todo.dark .container #createNewTodo #todoText {
  background: #25273c;
  color: #cacde8;
}

#todo.dark .container #createNewTodo #todoText::-webkit-input-placeholder {
  color: #777a92;
}

#todo.dark .container #createNewTodo #todoText:-ms-input-placeholder {
  color: #777a92;
}

#todo.dark .container #createNewTodo #todoText::-ms-input-placeholder {
  color: #777a92;
}

#todo.dark .container #createNewTodo #todoText::placeholder {
  color: #777a92;
}

#todo.dark .container #todoCollection {
  background-color: #25273c;
  -webkit-box-shadow: 0px 7px 25px -5px rgba(57, 58, 76, 0.4);
          box-shadow: 0px 7px 25px -5px rgba(57, 58, 76, 0.4);
}

#todo.dark .container #todoCollection .todoItem {
  border-bottom: 1px solid #484b6a;
}

#todo.dark .container #todoCollection .todoItem .borderGradiant {
  background: #484b6a;
}

#todo.dark .container #todoCollection .todoItem .borderGradiant #checkBTN {
  background-color: #25273c;
}

#todo.dark .container #todoCollection .todoItem .borderGradiant #checkBTN:checked {
  background: linear-gradient(130deg, #57ddff, #c058f3);
}

#todo.dark .container #todoCollection .todoItem .borderGradiant #checkBTN:checked::after {
  background: url("./images/icon-check.svg") no-repeat;
}

#todo.dark .container #todoCollection .todoItem .borderGradiant:hover {
  background: linear-gradient(130deg, #57ddff, #c058f3);
}

#todo.dark .container #todoCollection .todoItem .borderGradiant:hover #checkBTN {
  border: none;
}

#todo.dark .container #todoCollection .todoItem .todoItemText {
  color: #cacde8;
}

#todo.dark .container #todoCollection .todoItem:hover .borderGradiant {
  background: linear-gradient(130deg, #57ddff, #c058f3);
}

#todo.dark .container #todoCollection .todoItem:hover .borderGradiant #checkBTN {
  border: none;
}

#todo.dark .container #todoCollection .todoFilter p {
  color: #777a92;
}

#todo.dark .container #todoCollection .todoFilter .clearCompleted:hover {
  color: #e4e5f1;
}

#todo.dark .container #todoCollection .todoFilter .filterTodos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#todo.dark .container #todoCollection .todoFilter .filterTodos p:hover {
  color: #e4e5f1;
}

#todo.dark .container #todoCollection .todoFilter .filterTodos .active {
  color: #3a7bfd;
}

#todo.dark .container #todoCollection .todoFilter .filterTodos .active:hover {
  color: #3a7bfd;
}

@media screen and (max-width: 768px) {
  #todo.dark .container #todoCollection .todoFilter .filterTodos {
    display: none;
  }
}

#todo.dark .container .filterTodosMobile {
  background: #25273c;
}

#todo.dark .container .filterTodosMobile p:hover {
  color: #e4e5f1;
}

#todo.dark .container .filterTodosMobile .active {
  color: #3a7bfd;
}

#todo.dark .container .filterTodosMobile .active:hover {
  color: #3a7bfd;
}

@media screen and (max-width: 768px) {
  #todo.dark .container .filterTodosMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 7px 25px -5px rgba(72, 75, 106, 0.4);
            box-shadow: 0px 7px 25px -5px rgba(72, 75, 106, 0.4);
  }
}

#todo.dark .container #reorderList {
  color: #4d5066;
}

@media screen and (max-width: 768px) {
  #todo.dark {
    background: #161722 url("./images/bg-mobile-dark.jpg") no-repeat;
  }
}
/*# sourceMappingURL=style.css.map */