@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* Font Weight */
$font-weight-400:400;
$font-weight-700:700;

/* Color */
$Bright-Blue: hsl(220, 98%, 61%);
$Check-Background1: #57ddff;
$Check-Background2:#c058f3;

//Light Theme

$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$Light-Grayish-Blue: hsl(233, 11%, 84%);
$Dark-Grayish-Blue: hsl(236, 9%, 61%);
$Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

//Dark Theme

// $Very-Dark-Blue: hsl(235, 21%, 11%);
// $Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
// $Light-Grayish-Blue: hsl(234, 39%, 85%);
// $Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
// $Dark-Grayish-Blue: hsl(234, 11%, 52%);
// $Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
// $Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

#todo {
  height: 100vh;
  background: $Very-Light-Gray url("./images/bg-desktop-light.jpg") no-repeat;
  background-size: 100% 35%;

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
    max-width: 100%;
    padding-top: 4rem;

    .logo-theme {
      display: flex;
      justify-content: space-between;
      width: 100%;


      #logo {
        text-transform: uppercase;
        font-weight: $font-weight-700;
        letter-spacing: 10px;
        color: #FFF;
      }

      #themeToggle {
        background: url("./images/icon-moon.svg") no-repeat;
        width: 26px;
      }
    }

    #createNewTodo {
      display: flex;
      width: 100%;
      background-color: #FFF;
      border-radius: 5px;
      padding: 1rem 1.5rem;
      margin-top: 1.5rem;

      #checkBTN {
        -webkit-appearance: none;
        width: 1.3rem;
        height: 1.3rem;
        background-color: #FFF;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid $Light-Grayish-Blue;
        outline: none;
        cursor: pointer;
        margin-right: 1rem;

        &:checked {
          background: linear-gradient(130deg, #57ddff, #c058f3);
        }
      }

      #todoText {
        border: none;
        outline: none;
        font-size: 18px;
        font-family: 'Josefin Sans', sans-serif;
        width: 92%;

        &::placeholder {
          color: $Dark-Grayish-Blue;
        }
      }
    }

    #todoCollection {
      width: 100%;
      background-color: #FFF;
      border-radius: 5px;
      padding: 1rem 1.5rem;
      margin-top: 1.2rem;

      .todoItem {
        display: flex;

        #checkBTN {
          -webkit-appearance: none;
          width: 1.3rem;
          height: 1.3rem;
          background-color: #FFF;
          border-radius: 50%;
          vertical-align: middle;
          border: 1px solid $Light-Grayish-Blue;
          outline: none;
          cursor: pointer;
          margin-right: 1rem;

          &:checked {
            background: linear-gradient(130deg, #57ddff, #c058f3);
            position: relative;

            &::after {
              position: absolute;
              content: "";
              top: 25%;
              left: 20%;
              width: 11px;
              height: 9px;
              background: url("./images/icon-check.svg") no-repeat;
            }
          }
        }

        .todoItemText {
          width: 92%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .todoFilter {}
    }
  }
}