@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* Font Weight */
$font-weight-400:400;
$font-weight-700:700;

/* Color */
$Bright-Blue: hsl(220, 98%, 61%);
$Check-Background1: #57ddff;
$Check-Background2:#c058f3;

//Light Theme

$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$Light-Grayish-Blue: hsl(233, 11%, 84%);
$Dark-Grayish-Blue: hsl(236, 9%, 61%);
$Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

//Dark Theme

$Very-Dark-Blue: hsl(235, 21%, 11%);
$Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$Light-Grayish-Blue: hsl(234, 39%, 85%);
$Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
$Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue1: hsl(233, 14%, 35%);
$Very-Dark-Grayish-Blue2: hsl(237, 14%, 26%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

#todo {
  height: 100vh;
  background: $Very-Light-Gray url("./images/bg-desktop-light.jpg") no-repeat;
  background-size: 100% 35%;

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
    max-width: 100%;
    padding-top: 4rem;

    .logo-theme {
      display: flex;
      justify-content: space-between;
      width: 100%;


      #logo {
        text-transform: uppercase;
        font-weight: $font-weight-700;
        letter-spacing: 10px;
        color: #FFF;
        cursor: pointer;
      }

      #themeToggle {
        background: url("./images/icon-moon.svg") no-repeat;
        width: 26px;
        cursor: pointer;
      }
    }

    #createNewTodo {
      display: flex;
      width: 100%;
      background-color: #FFF;
      border-radius: 5px;
      padding: 1rem 1.5rem;
      margin-top: 1.5rem;

      .borderGradiant {
        margin-right: 1rem;
        padding: 1px;
        position: relative;
        background: $Light-Grayish-Blue;
        border-radius: 50%;

        #checkBTN {
          -webkit-appearance: none;
          width: 1.3rem;
          height: 1.3rem;
          background-color: #FFF;
          border-radius: 50%;
          vertical-align: middle;
          outline: none;
          cursor: pointer;

          &:checked {
            background: linear-gradient(130deg, #57ddff, #c058f3);
            position: relative;

            &::after {
              position: absolute;
              content: "";
              top: 26%;
              left: 22%;
              width: 11px;
              height: 9px;
              background: url("./images/icon-check.svg") no-repeat;
            }
          }
        }

        &:hover {
          padding: 1px;
          position: relative;
          background: linear-gradient(130deg, #57ddff, #c058f3);
          border-radius: 50%;

          #checkBTN {
            border: none;
          }
        }
      }

      #todoText {
        border: none;
        outline: none;
        font-size: 18px;
        font-family: 'Josefin Sans', sans-serif;
        width: 92%;

        &::placeholder {
          color: $Dark-Grayish-Blue;
        }
      }
    }

    #todoCollection {
      width: 100%;
      background-color: #FFF;
      border-radius: 5px;
      margin-top: 1.2rem;
      box-shadow: 0px 7px 25px -5px rgba($Very-Dark-Grayish-Blue, 0.4);

      .todoItem {
        display: flex;
        padding: 1rem 1.5rem;
        border-bottom: 1px solid $Very-Light-Grayish-Blue;

        .borderGradiant {
          margin-right: 1rem;
          padding: 1px;
          position: relative;
          background: $Light-Grayish-Blue;
          border-radius: 50%;

          #checkBTN {
            -webkit-appearance: none;
            width: 1.3rem;
            height: 1.3rem;
            background-color: #FFF;
            border-radius: 50%;
            vertical-align: middle;
            outline: none;
            cursor: pointer;

            &:checked {
              background: linear-gradient(130deg, #57ddff, #c058f3);
              position: relative;

              &::after {
                position: absolute;
                content: "";
                top: 26%;
                left: 22%;
                width: 11px;
                height: 9px;
                background: url("./images/icon-check.svg") no-repeat;
              }
            }
          }

          &:hover {
            background: linear-gradient(130deg, #57ddff, #c058f3);

            #checkBTN {
              border: none;
            }
          }
        }

        .todoItemText {
          width: 92%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: $Very-Dark-Grayish-Blue;
          align-self: center;
        }

        .completed {
          color: $Light-Grayish-Blue;
          text-decoration: line-through;
        }

        img {
          margin-left: 1.5rem;
          align-self: center;
          cursor: pointer;
        }

        &:hover {
          .borderGradiant {
            background: linear-gradient(130deg, #57ddff, #c058f3);

            #checkBTN {
              border: none;
            }
          }
        }
      }

      .todoFilter {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;

        p {
          font-size: 14px;
          color: $Dark-Grayish-Blue;
        }

        .clearCompleted {
          cursor: pointer;
        }

        .filterTodos {
          display: flex;

          p {
            padding: 0 8px;
            cursor: pointer;
            font-weight: $font-weight-700;

            &:hover {
              color: $Very-Dark-Grayish-Blue;
            }
          }

          .active {
            color: $Bright-Blue;

            &:hover {
              color: $Bright-Blue;
            }
          }
        }
      }
    }

    #reorderList {
      text-align: center;
      margin-top: 3rem;
      color: $Dark-Grayish-Blue;
      font-size: 14px;
    }
  }
}

#todo.dark {
  background: $Very-Dark-Blue url("./images/bg-desktop-dark.jpg") no-repeat;
  background-size: 100% 35%;

  .container {
    .logo-theme {

      #themeToggle {
        background: url("./images/icon-sun.svg") no-repeat;
      }
    }

    #createNewTodo {
      background-color: $Very-Dark-Desaturated-Blue;

      .borderGradiant {
        background: $Very-Dark-Grayish-Blue;

        #checkBTN {
          background-color: $Very-Dark-Desaturated-Blue;

          &:checked {
            background: linear-gradient(130deg, #57ddff, #c058f3);

            &::after {
              background: url("./images/icon-check.svg") no-repeat;
            }
          }
        }

        &:hover {
          padding: 1px;
          position: relative;
          background: linear-gradient(130deg, #57ddff, #c058f3);
          border-radius: 50%;

          #checkBTN {
            border: none;
          }
        }
      }

      #todoText {
        background: $Very-Dark-Desaturated-Blue;
        color: $Light-Grayish-Blue;

        &::placeholder {
          color: $Dark-Grayish-Blue;
        }
      }
    }

    #todoCollection {
      background-color: $Very-Dark-Desaturated-Blue;
      box-shadow: 0px 7px 25px -5px rgba($Very-Dark-Grayish-Blue2, 0.4);

      .todoItem {
        border-bottom: 1px solid $Very-Dark-Grayish-Blue;

        .borderGradiant {
          background: $Very-Dark-Grayish-Blue;

          #checkBTN {
            background-color: $Very-Dark-Desaturated-Blue;

            &:checked {
              background: linear-gradient(130deg, #57ddff, #c058f3);

              &::after {
                background: url("./images/icon-check.svg") no-repeat;
              }
            }
          }

          &:hover {
            background: linear-gradient(130deg, #57ddff, #c058f3);

            #checkBTN {
              border: none;
            }
          }
        }

        .todoItemText {
          color: $Light-Grayish-Blue;
        }

        &:hover {
          .borderGradiant {
            background: linear-gradient(130deg, #57ddff, #c058f3);

            #checkBTN {
              border: none;
            }
          }
        }
      }

      .todoFilter {

        p {
          color: $Dark-Grayish-Blue;
        }

        .clearCompleted {
          &:hover {
            color: $Light-Grayish-Blue-hover
          }
        }

        .filterTodos {
          display: flex;

          p {

            &:hover {
              color: $Light-Grayish-Blue-hover;
            }
          }

          .active {
            color: $Bright-Blue;

            &:hover {
              color: $Bright-Blue;
            }
          }
        }
      }
    }

    #reorderList {
      color: $Very-Dark-Grayish-Blue1;
    }
  }
}